*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../image/16sucai_p567c108.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
}
.center{
    position: relative;
    width: 100%;
}
.top{
    position: relative;
    top:-80px;
    float: right;
    margin-right: 30px;
}
.top>span{
    font-size: 20px;
}
.left {
    position: relative;
    top:150px;
    width: 30%;
    height: 300px;
    background-color: grey;
    float:left;
    margin-left: 16%;
    opacity: 0.6;
}
.right{
    position: relative;
    top: 150px;
    width: 30%;
    height: 300px;
    background-color: grey;
    float: left;
    margin-left: 10%;
    opacity: 0.6;
}
.left>a{
    clear: both;
    position: relative;
    text-decoration: none;
    font-size: 33px;
    margin-left: 33%;
    top: 50px;
    color: white;
}
.right>a{
    clear: both;
    position: relative;
    top: 50px;
    text-decoration: none;
    font-size: 33px;
    margin-left: 33%;
    color: white;
}
.left:hover{
    opacity: 0.8;
}
.right:hover{
    opacity: 0.8;
}
.left>a>img{
    position: relative;
    width: 30%;
    top: 40px;
}
.right>a>img{
    position: relative;
    width: 30%;

    top: 40px;
}

.top>a>span{
    border: none;
    width: 80px;
    height: 30px;
    font-size: 20px;
    opacity: 0.6;
    color: white;
    border-radius: 5%;
}
.top>a>span:hover{
    opacity: 0.8;
}
a>img{
    width: 5%;
    margin-left: 20px;
    margin-top: 20px;
}